---
import type { ApartamentItem } from "@/types/Apartament";
import getPlurals from "@/utils/plurals";

interface Props {
  data: ApartamentItem;
}

const { data } = Astro.props;
---

<div
  class="flex flex-col embla__slide embla__slide__apartament embla__slide__margin"
>
  <p>
    {`${data.rooms} ${getPlurals(data.rooms, "room")} | ${data.section} секція`}
  </p>
  <div class="flex flex-col border border-black">
    <div class="flex flex-row border-black border-b">
      <div class="flex-1 px-3 py-2">
        <p class="uppercase">Квартири</p>
        <p class="font-medium text-xl md:text-3xl text-nowrap">
          {data.roomsNumber}
        </p>
      </div>
      <div class="h-full w-[1px] bg-black"></div>
      <div class="flex-1 px-3 py-2">
        <p class="uppercase">Загальна площа</p>
        <p class="font-medium text-xl md:text-3xl text-nowrap">
          {data.area} m²
        </p>
      </div>
    </div>
    <div data-lightbox="true" class="flex items-center justify-center p-6">
      <img
        src={data.src}
        class="h-[200px] object-contain duration-300 sm:h-[300px] md:h-[400px] lg:h-[500px]"
        alt=""
      />
    </div>
  </div>
</div>
