---
import "@/styles/global.css";
import "aos/dist/aos.css";

import Footer from "@/components/footer/Footer.astro";
import Navbar from "@/components/navbar/Navbar.astro";
import { SEO } from "astro-seo";
import { Schema } from "astro-seo-schema";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import uk from "dayjs/locale/uk.js";
import { twMerge } from "tailwind-merge";
import ProgressBar from "astro-vtbot/components/ProgressBar.astro";
import { Toaster } from "react-hot-toast";

import { ViewTransitions } from "astro:transitions";

interface Props {
  className?: string;
  disableFooter?: boolean;
  seo: {
    title?: string;
    description: string;
  };
}

const { className, disableFooter, seo } = Astro.props;

dayjs.extend(utc);
dayjs.locale(uk);
---

<!doctype html>
<html lang="uk">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <SEO
      title={seo.title}
      titleTemplate="%s | Sviy"
      titleDefault="Sviy"
      charset="utf-8"
      description={seo.description}
      openGraph={{
        basic: {
          title: seo.title ? `${seo.title} | Sviy` : "Sviy",
          type: "website",
          image: "",
        },
        optional: {
          description: seo.description,
          siteName: "Sviy",
        },
      }}
      twitter={{
        title: seo.title ? `${seo.title} | Sviy` : "Sviy",
        image: "",
        description: seo.description,
        creator: "HighError",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico?", type: "image/x-icon" }],
        meta: [],
      }}
    />

    <!-- Schema.org markup-->
    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "WebSite",
        name: "Sviy",
        url: "https://sviydubno.com.ua/",
      }}
    />

    <ViewTransitions />
  </head>
  <body class="flex flex-col min-h-dvh overflow-x-hidden">
    <script>
      import { aosInit } from "@/utils/aos";
      import { GOOGLE_RECAPTCHA_SITE_KEY } from "astro:env/client";
      import { load } from "recaptcha-v3";

      aosInit();
      load(GOOGLE_RECAPTCHA_SITE_KEY);

      document.addEventListener("astro:after-swap", aosInit);
    </script>
    <Toaster client:load position="top-right" />
    <ProgressBar />
    <Navbar />
    <main class={twMerge("flex-1", className)}><slot /></main>
    {!disableFooter && <Footer />}
    <script is:inline src="/fslightbox/fslightbox.js"></script>
  </body>
</html>
